header{
    color:white;
    padding: 20px;
    text-align:center;
    background-color: black;
}
h1{
    font-weight: 400;
}
.navbar{
    overflow:hidden;
    border-bottom: 15px;
    background-color: #B75D69;
}
.navbar a{
    text-align: left;
    display: block;
    color: #B9E28C;
    text-align: center;
    padding: "14px 16px";
    text-decoration: none;
}
.navbar a:hover{
    background-color: #774C60;
    color: #000004;
}
.container div{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}
.footer element{
background-color: black;
position: absolute;
bottom: 0;
width:100%;
}
.footer p{
    color: #7EA3CC;
    font-weight: 400;
    float: right;
    padding-right: 10px;
    font-style: italic;
}
.footer a{
    text-decoration: none;
    color:#774C60;
}
.footer a:hover{
    text-decoration: none;

}
.body{
color:#7EA3CC;
}
